
body {
    font-family: 'EB Garamond', serif;
    font-style: black;

}
nav {
    font-size: 20px; 
}

#item2,
#item3,
#item5,
#item6,
#item8,
#item9{
    display:none;
};

#movie-info-screen{
    display: none;
}

.poster{
    float: left;

}

.movie-information{
    float: right;
    text-align: center;
}

.title{
    font-weight: bold;
    font-size: 40px;
}
